<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="wow_einvoice" id="wow_einvoice">
			<module before="Magento_Backend" name="Wow_Einvoice"/>
		</route>
	</router>
</config>
