<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="wowipay" frontName="wowipay">
            <module name="Wow_Ipay88"/>
        </route>
    </router>
</config>
