<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="fef_customersso_checktoken" xsi:type="object">Fef\CustomerSso\Console\Command\CheckToken</item>
            </argument>
        </arguments>
    </type>
    <preference for="Smartosc\Checkout\Model\CustomerRegisterConfigProvider" type="Fef\CustomerSso\Model\CustomerRegisterConfigProvider"/>
</config>
