<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="wow_queue_run" xsi:type="object">Wow\QueueMessage\Console\Command\RunQueue</item>
            </argument>
        </arguments>
    </type> -->
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="wow_push_order" xsi:type="object">Wow\QueueMessage\Console\Command\PushDataOrder</item>
            </argument>
        </arguments>
    </type>
</config>
