<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="store" translate="label" sortOrder="999">
            <label>Wow</label>
        </tab>
        <section id="wowexclude" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Excluded None Discount Product</label>
            <tab>store</tab>
            <resource>Wow_ExcludeDiscountProduct::exclude_config</resource>
            <group id="product" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Product Filter</label>
                <field id="category_id" translate="label" type="text" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Category Id</label>
                    <comment>Fill with category Id (Example : 10, 200, 150)</comment>
                </field>
            </group>
        </section>
    </system>
</config>